<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="brand-title">
          <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1647152368/CabinCrew/Studio_Project_nusnnv_pq6dha.png" alt="">
        </div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="http://">Home</a></li>
                <li><a href="http://">Contact-us</a></li>
                <li><a href="http://">About-us</a></li>
            </ul>
        </div>

    </nav>
    <script src="/javascript.js"></script>
</body>
</html>