<%-layout('layout/boilerplate') %> 
<link rel="stylesheet" href="/style.css">
<header class="main-header" id="Clients">
    <h1><span>Our</span>Clients</h1>
</header>
<div class="clients" >
    <a href="http://www.rakceramics.com/">
    <div  data-aos="fade-up"> 
         <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1647161008/CabinCrew/1200px-RAK_Ceramics_logo.svg_mfizg0.png"  alt="" >
        </div></a>
        <a href="http://www.siyaram.com/">
    <div  data-aos="fade-up">   
         <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1647161008/CabinCrew/logo_qjdakc.png" alt="">
        </div></a>
        <a href="http://www.wns.com/">
    <div  data-aos="fade-up">
        <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1647161008/CabinCrew/wns-logo_nmn68q.png" alt="" >
    </div></a>
    <a href="http://www.tcs.com/">
    <div  data-aos="fade-up">
        <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1647161009/CabinCrew/tcs-blue-reversible_srnkvu.png" alt="">
    </div></a>
    <a href="https://www.kotak.com/en/home.html">
    <div  data-aos="fade-up">
    <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1647161009/CabinCrew/Kotak_Mahindra_Bank_logo_muc3yn.png" alt="">
    </div></a>
    
</div>
