<%-layout('layout/boilerplate') %> 
<link rel="stylesheet" href="/style.css">

<header class="main-header" id="About-us">
    <h1><span>About</span> us</h1>
</header>
<main class="container" >
    <section class="card">
        <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1647152367/CabinCrew/firmbee-com-jrh5lAq-mIs-unsplash_r5xbcs.jpg" alt="">
        <div>
            <h3>Foreward</h3>
            <ul><li>
                <p>Personnel department as we all have seen has been under constant evolution in the past several years from company centric to human centric and even more…
            </p></li>
        <li>
            <p>Crafting <span>Crew</span>  – is a crew who is here to put at ease your recruitment needs and craft an HR strategy for you which is fruitful both to the employer as well as the employee. 
        </p></li>
    <li>
        <p>We offer expertise in seeking the companies the apt candidate for their hiring needs.
    </p></li>
</ul>
        </div>
    </section>
    <section class="card" data-aos="fade-right">
        <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1647152502/CabinCrew/austin-distel-rxpThOwuVgE-unsplash_fi8nqy.jpg" alt="">
        <div>
            <h3>Vision</h3>
            <ul><li>
                <p>Our vision is to be a company, people identify as being synonymous to the entire HR Process. 

            </p></li>
       
        </div>
    </section>
    <section class="card" data-aos="fade-left">
        <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1647153037/CabinCrew/docusign-BbSBf5uv50A-unsplash_wrptlw.jpg" alt="">
        <div>
            <h3>We Believe in...</h3>
            <ul><li>
                <p><span> Quality</span>– “Right, the first time” is our objective in attaining quality recruitment for our clients. 
            </p></li>
            <li>
                <p><span> Integrity</span>– We ensure confidentiality to our clients in every transaction being carried with them.

            </p></li>
            <li>
                <p><span>Innovation</span>– We ensure confidentiality to our clients in every transaction being carried with them.

            </p></li>
       
        </div>
    </section>
    <section class="card" data-aos="fade-right">
        <img src="https://res.cloudinary.com/dcwpxxcd9/image/upload/v1647153180/CabinCrew/jason-goodman-6awfTPLGaCE-unsplash_m5zbkm.jpg" alt="">
        <div>
            <h3>Our Crew</h3>
            <ul><li>
                <p>Our crew consist of dynamic individuals from the relevant background who are constantly striving to offer the best to our clients. 


            </p></li>
       
        </div>
    </section>
    
</main>
<%- include('Clients') %> 
<%- include('Contact-us') %> 